a:link {
    color: orange;
}

a:visited {
    color: green
}

a:hover {
    text-decoration: none;
}

.container p:first-child {
    font-size: 150%;
}

.container p:first-child::first-line {
    color: red;
}

table tr:nth-child(2n + 2) {
    background-color: #333;
    color: white;
}