html {
    font-family: sans-serif;
}

p {
    /* Box styling */
    width: 200px;
    height: 50px;

    /* Text alignment */
    line-height: 50px;
    text-align: center;

    /* Text styling */
    /* Found HTML default font size of 16px by checking DevTools Computed tab and turning Browser Styles on. Divided 18/16 to get 1.125. */
    font-size: 1.125rem;
    background-color: rgb(10, 139, 10);
    color: rgb(10, 139, 10);
    text-shadow: 1px 1px 1px black;

    /* Background and border styling */
    border-radius: 5px;
    border: 1px solid rgb(9, 63, 9);
    background-image: linear-gradient(to top left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0));

    /* Standard box shadow */
    box-shadow: 2px 2px 5px black, inset 2px 2px 3px rgba(255, 255, 255, 0.6), inset -2px -2px 3px rgba(0, 0, 0 , 0.6);

}